requests
phonenumbers
telebot
colorama
pywin32
pyzipper
ipinfo
folium
opencage
psutil
pywifi
cloudscraper
pycryptodome
cryptography
pillow
tk
discord.py
yt-dlp
python-whois
beautifulsoup4
comtypes
random_user_agent
bs4
patool
scapy
urllib3
lxml
configparser
pathlib2
aiohttp
asyncio-throttle
PySocks
dataclasses
typing-extensions