requests>=2.31.0
phonenumbers>=8.13.0
telebot>=0.0.1
colorama>=0.4.6
pywin32>=306
pyzipper>=0.3.6
ipinfo>=2.0.0
folium>=0.14.0
opencage>=2.4.0
psutil>=5.9.0
pywifi>=1.1.12
cloudscraper>=1.2.71
pycryptodome>=3.19.0
cryptography>=41.0.0
pillow>=10.0.0
tk>=0.1.0
discord.py>=2.3.0
yt-dlp>=2023.10.13
python-whois>=0.8.0
beautifulsoup4>=4.12.0
comtypes>=1.2.0
random_user_agent>=1.0.1
bs4>=0.0.1
patool>=1.12
scapy>=2.5.0
urllib3>=2.0.0
lxml>=4.9.0
configparser>=5.3.0
pathlib2>=2.3.7
aiohttp>=3.8.0
asyncio-throttle>=1.0.2