requests
phonenumbers
telebot
colorama
pywin32
pyzipper
ipinfo
folium
opencage
py7zr
psutil
pywifi
cloudscraper
pycryptodome
cryptography
pillow
tk
discord.py
yt-dlp
python-whois
beautifulsoup4
comtypes
random_user_agent
bs4